<footer class="footer">
  <div class="icons">
    <a href="#!">
      <img src="icons/icon-facebook.png" alt="facebook icon">
    </a>
    <a href="#!">
      <img src="icons/icon-twitter.png" alt="twitter icon">
    </a>
    <a href="#!">
      <img src="icons/icon-instagram.png" alt="instagram icon">
    </a>
  </div>
  <p>&copy; <span id="year"></span> SURF | ALL RIGHT RESERVED</p>
</footer>