<footer class="footer">
  <div class="icons">
    <a href="{{facebook}}" target="_blank">
      <img src="icons/icon-facebook.png" alt="facebook icon">
    </a>
    <a href="{{twitter}}" target="_blank">
      <img src="icons/icon-twitter.png" alt="twitter icon">
    </a>
    <a href="{{instagram}}" target="_blank">
      <img src="icons/icon-instagram.png" alt="instagram icon">
    </a>
  </div>
  <p>&copy; <span id="year"></span> {{companyName}} | ALL RIGHT RESERVED</p>
</footer>