<nav class="navbar navbar-expand-md navbar-dark">
    <a href="#" class="navbar-brand">Surf.</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="nav-line"></span>
        <span class="nav-line"></span>
        <span class="nav-line"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ml-auto">
            <a href="#explorer-head-section" class="nav-item nav-link">Guides</a>
            <a href="#create-head-section" class="nav-item nav-link">Day Surfs</a>
            <a href="#share-head-section" class="nav-item nav-link">Multi-Day Surfs</a>
            <a href="#share-head-section" class="nav-item nav-link">Attractions</a>
        </div>
    </div>
</nav>