/* Colors */

$primary: #008ed6;
$accent: #FF8900;
$light: #f8fafb;
$dark: #284554;
$gray: #00537B;
$black: #424242;
$white: #f7f7f7;
/*
Default Colors

$theme-colors: ( "primary": #007bff, "secondary": #6c757d, "success": #28a745, "info": #17a2b8, "warning": #ffc107, "danger": #dc3545, "light": #f8f9fa, 
"dark": #343a40);
*/