/* General Varialbes */
$border-radius: .1rem;
$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
$transition: 400ms ease-in-out;
$text-shadow: 0 3px 6px rgba(0, 0, 0, 0.22);
/* Media Queries */
$tablet: 40rem;
$smLaptop: 80rem;
$lgLaptop: 100rem;