{{!-- Header Section --}}

<header class="header">
    <div class="wrapper">
        <h1>Surf The Best.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur distinctio, explicabo tempore dolores aliquid
            voluptatum.
        </p>
        <div class="btn--light"><i class="btn__icon"></i>schedule</div>
    </div>
    <div class="scroll">
        <div class="line"></div>
        <p>SCROLL</p>
    </div>
    <div class="video">
        {{!-- <video src="vid/surf-video.mp4 " autoplay loop></video> --}}
    </div>
</header>

<section class="section section-a">
    <div class="left">
        <picture>
            <source media="(min-width: 768px)" srcset="img/image-01-tablet.png">
            <img src="img/image_01-mobile.png" alt="Surfer ripping wave">
        </picture>
    </div>
    <div class="right">
        <h2>Chill & Surf All Day.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium cupiditate voluptatibus commodi esse? Sapiente
            aperiam dolor cum est labore magni facilis, amet in at eaque eius perferendis necessitatibus, id quia omnis dignissimos
            eos dolorum eum minus sequi. Dicta optio quis eaque odit id omnis? Necessitatibus pariatur sit dolore quaerat
            omnis.
        </p>
        <div class="icons">
            <p><img src="icons/icon-time.png" alt="time icon"> 10 Hours</p>
            <p><img src="icons/icon-person.png" alt="person icon"> 2-12 People</p>
            <p><img src="icons/icon-location.png" alt="location icon"> Oceanside, CA</p>
        </div>
    </div>
</section>