{{!-- Header Section --}}

<header class="header">
    <nav class="navbar navbar-expand-md navbar-dark">
        <a href="#" class="navbar-brand">Surf.</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="nav-line"></span>
            <span class="nav-line"></span>
            <span class="nav-line"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a href="#explorer-head-section" class="nav-item nav-link">Guides</a>
                <a href="#create-head-section" class="nav-item nav-link">Day Surfs</a>
                <a href="#share-head-section" class="nav-item nav-link">Multi-Day Surfs</a>
                <a href="#share-head-section" class="nav-item nav-link">Attractions</a>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <h1>Surf The Best.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur distinctio, explicabo tempore dolores
            aliquid
            voluptatum.
        </p>
        <div class="btn--light"><i class="btn__icon"></i>schedule</div>
    </div>
    <div class="scroll">
        <div class="line"></div>
        <p>SCROLL</p>
    </div>
    <div class="video">
        {{!-- <video src="vid/surf-video.mp4 " autoplay loop></video> --}}
    </div>
</header>

{{!-- Section A --}}
<section class="section section-a container">
    <div class="left">
        <picture>
            <source media="(min-width: 768px)" srcset="img/image_01-tablet.png">
            <img src="img/image_01-mobile.png" alt="Surfer ripping wave">
        </picture>
    </div>
    <div class="right">
        <h2>Chill & Surf All Day.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium cupiditate voluptatibus commodi esse?
            Sapiente
            aperiam dolor cum est labore magni facilis, amet in at eaque eius perferendis necessitatibus, id quia omnis
            dignissimos
            eos dolorum eum minus sequi. Dicta optio quis eaque odit id omnis? Necessitatibus pariatur sit dolore
            quaerat
            omnis.
        </p>
        <div class="icons">
            <p><img src="icons/icon-time.png" alt="time icon"> 10 Hours</p>
            <p><img src="icons/icon-person.png" alt="person icon"> 2-12 People</p>
            <p><img src="icons/icon-location.png" alt="location icon"> Oceanside, CA</p>
        </div>
    </div>
</section>

{{!-- Gallery Section --}}
<section class="section section--gallery container">
    <h2>Pictures</h2>
    <div class="gallery">
        <picture><img src="img/surf-bw-1.png" alt="" class="gallery__item"></picture>
        <picture><img src="img/surf-bw-2.png" alt="" class="gallery__item"></picture>
        <picture><img src="img/surf-bw-3.png" alt="" class="gallery__item"></picture>
        <picture><img src="img/surf-bw-4.png" alt="" class="gallery__item"></picture>
        <picture><img src="img/surf-bw-5.png" alt="" class="gallery__item"></picture>
        <picture><img src="img/surf-bw-6.png" alt="" class="gallery__item"></picture>
        <picture><img src="img/surf-bw-7.png" alt="" class="gallery__item"></picture>
        <picture><img src="img/surf-bw-8.png" alt="" class="gallery__item"></picture>
    </div>
    <hr class="divider--headline">
</section>

{{!-- Section B --}}
<section class="section section-b container">
    <div class="left">
        <h2>Our Guides Are The Best.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium cupiditate voluptatibus commodi esse?
            Sapiente
            aperiam dolor cum est labore magni facilis, amet in at eaque eius perferendis necessitatibus, id quia omnis
            dignissimos
            eos dolorum eum minus sequi. Dicta optio quis eaque odit id omnis? Necessitatibus pariatur sit dolore
            quaerat
            omnis.
        </p>
        <div class="icons">
            <a href="#!">
                <p>Learn More </p>
                <i></i>
            </a>
        </div>
    </div>
    <div class="right">
        <picture>
            <source media="(min-width: 768px)" srcset="img/image_02.png">
            <img src="img/image_02-mobile.png" alt="Surfer ripping wave">
        </picture>
    </div>
</section>