{{!-- HOME SECTION --}}

<header id="home" class="home">
    <div class="dark-overlay">
        <div class="container">
            <div class="home__inner grid">
                <div class="home__left">
                    <h1>Build <strong>social profiles</strong> and gain revenue <strong>profits</strong></h1>
                    <div class="checkbox media">
                        <i class="fas fa-check fa-2x"></i>
                        <div class="checkbox__info media-body p-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Mollitia tenetur ipsam cumque sunt nulla adipisci.</div>
                    </div>
                    <div class="checkbox media">
                        <i class="fas fa-check fa-2x"></i>
                        <div class="checkbox-body media-body p-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Mollitia tenetur ipsam cumque sunt nulla adipisci.</div>
                    </div>
                    <div class="checkbox media">
                        <i class="fas fa-check fa-2x"></i>
                        <div class="checkbox-body media-body p-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Mollitia tenetur ipsam cumque sunt nulla adipisci.</div>
                    </div>
                </div>
                <div class="home__right">
                    <div class="card bg-primary text-center card-form">
                        <div class="card-body">
                            <h3>Sign Up Today</h3>
                            <p>Please fill out this form to register</p>
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-lg" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-lg" placeholder="Password">
                                </div>
                                <a href="" class="btn--secondary btn-block">Submit</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>