{{!-- Header Section --}}

<header class="header">
    <div class="wrapper">
        <h1>Surf The Best.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur distinctio, explicabo tempore dolores aliquid
            voluptatum.
        </p>
        <div class="btn--light"><i class="btn__icon"></i>schedule</div>
    </div>
    <div class="scroll">
        <div class="line"></div>
        <p>SCROLL</p>
    </div>
    <div class="video">
        {{!-- <video src="vid/surf-video.mp4 " autoplay loop></video> --}}
    </div>
</header>