%btn {
    border-radius: $border-radius;
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    transition: $transition;
    min-width: 8rem;

    &:hover {
        text-decoration: none;
    }
}

.btn--primary {
    @extend %btn;
    background: $primary;
    box-shadow: $box-shadow;
    color: setTextColor($primary);
    font-weight: bolder;

    &:hover {
        color: #fff;
        background: darken($primary, 5%);
    }
}

.btn--secondary {
    @extend %btn;
    border: 0.01rem solid $primary;
    color: $primary;
    font-weight: lighter;

    &:hover {
        color: lighten($primary, 10);
    }
}

.btn--third {
    @extend %btn;
    color: $primary;
    opacity: 0.5;
    text-decoration: underline;

    &:hover {
        color: $primary;
        opacity: 1;
    }
}

.btn--light {
    @extend %btn;
    background: $light;
    color: setTextColor($light);
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        opacity: 0.8;
    }
}

.btn--dark {
    @extend %btn;
    background: $accent;
    color: setTextColor($accent);
}

.btn--rounded {
    border-radius: 50px;
}